<div id="detail-container">

  <div class="ui-g" id="detail-list">
    <div class="ui-g-6">
      <h4>Extremereignisse für {{selectedDataType}} {{secondIntervalLabel}}</h4>
      <ul *ngIf="firstIntervalMaxEvents" class="events">
        <li *ngFor="let queryEvent of firstIntervalMaxEvents" class="light-blue"
            (click)="selectFirst(queryEvent)"
            [class.selected]="selectedEvents.includes(queryEvent)">
          <span class="detail">{{niceDateStringNumbers(queryEvent.start)}}</span>
        </li>
      </ul>
    </div>
    <div class="ui-g-6">
      <h4>Extremereignisse für {{selectedDataType}} {{secondIntervalLabel}}</h4>
      <ul *ngIf="secondIntervalMaxEvents" class="events">
        <li *ngFor="let queryEvent of secondIntervalMaxEvents" class="dark-blue"
            (click)="selectSecond(queryEvent)"
            [class.selected]="selectedEvents.includes(queryEvent)">
          <span class="detail">{{niceDateStringNumbers(queryEvent.start)}} </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="ui-g" id="detail-detail">
    <div class="ui-g-6">
      <div *ngIf="selectedEvents.length > 0">
        <div class="ui-g-3">
          <div>ID:</div>
          <div>Area:</div>
          <div>Length:</div>
          <div>Intensity:</div>
          <div>Start:</div>
        </div>
        <div class="ui-g-9">
          <div>{{selectedEvents[0].id}}</div>
          <div>{{roundValues(selectedEvents[0].area)}}</div>
          <div>{{selectedEvents[0].length}}</div>
          <div>{{roundValues(selectedEvents[0].si)}}</div>
          <div>{{niceDateString(selectedEvents[0].start)}}</div>
        </div>
      </div>
    </div>
    <div class="ui-g-6">
      <div *ngIf="selectedEvents.length === 2">
        <div class="ui-g-3">
          <div>ID:</div>
          <div>Area:</div>
          <div>Length:</div>
          <div>Intensity:</div>
          <div>Start:</div>
        </div>
        <div class="ui-g-9">
          <div>{{selectedEvents[1].id}}</div>
          <div>{{roundValues(selectedEvents[1].area)}}</div>
          <div>{{selectedEvents[1].length}}</div>
          <div>{{roundValues(selectedEvents[1].si)}}</div>
          <div>{{niceDateString(selectedEvents[1].start)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
