#detail-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 100px;
  overflow: auto;
}

#detail-list {
  //max-height: 500px;
  //width: 250px;
  overflow: scroll;
}

#detail-detail {
  //max-height: 500px;
  overflow: scroll;
}

#detail-list li {
  color: black;
  padding: 3px;
  margin: 2px;
  background-color: #cccccc;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  width: 250px;
  text-align: center;
}

#detail-list .light-blue:hover {
  cursor: pointer;
  background-color: #66b2ff;
  color: black;
}

#detail-list .light-blue.selected {
  background-color: #66b2ff;
  color: black;
}

#detail-list .dark-blue:hover {
  cursor: pointer;
  background-color: #0000ff;
  color: white;
}

#detail-list .dark-blue.selected {
  background-color: #0000ff;
  color: white;
}

.eventssss {
  list-style: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
