<div class="ui-g">
  <div class="ui-g-1">
    <div class="ui-g-12">
      <p-radioButton name="group1" value="area" label="Area" [(ngModel)]="val1" inputId="opt1"
                     (onClick)="changeRadioButton()"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton name="group1" value="length" label="Length" [(ngModel)]="val1" inputId="opt2"
                     (onClick)="changeRadioButton()"></p-radioButton>
    </div>
    <div class="ui-g-12">
      <p-radioButton name="group1" value="intensity" label="Intensity" [(ngModel)]="val1" inputId="opt3"
                     (onClick)="changeRadioButton()"></p-radioButton>
    </div>
  </div>
  <div class="ui-g-5">
    <label> Wie viele Jahre sollen zusammengefasst werden? </label>
    <br>
    <br>
    <p-slider [(ngModel)]="sliderValue" [min]="1" [max]="10" [step]="1"></p-slider>
    <br>
    <p-button (onClick)="emitSliderValue()" label="Histogramm für {{sliderValue}}-jahres Intervall erzeugen."></p-button>
  </div>
  <div class="ui-g-2">
    <div class="ui-g-12">
      <p-dropdown [options]="intervalOptions" [(ngModel)]="interval1" placeholder="Intervall 1 wählen"></p-dropdown>
    </div>
    <div class="ui-g-12">
      <p-dropdown [options]="intervalOptions" [(ngModel)]="interval2" placeholder="Intervall 2 wählen"></p-dropdown>
    </div>
  </div>
  <div class="ui-g-2">
    <div class="ui-g-12">
      <p-button class="compareButton" label="Intervalle vergleichen"
                [disabled]="interval1 === undefined || interval2 === undefined"
                (onClick)="compareInterval()">
      </p-button>
    </div>
  </div>
</div>
