
.progressSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: .8;
  z-index: 1000;
  width: fit-content;
  height: fit-content;
}

.isLoading {
  pointer-events: none;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 900;

  * {
    display: none;
  }
}

.staticButton {

 margin: 2px;
}
