<h2>Visual Analytics</h2>
<div id="container" class="{{loading ? 'isLoading' : ''}}">
  <div class="ui-g">
    <app-input id="input" class="ui-g-12"></app-input>
  </div>

  <div class="ui-g">
    <app-histogram id="histogram" class="ui-g-6"></app-histogram>
    <app-mean-histograms class="ui-g-6"></app-mean-histograms>
  </div>

  <div class="ui-g">
    <div class="ui-g-6">
      <app-mean-boxplots></app-mean-boxplots>
      <app-detailed-comparison id="comparison"></app-detailed-comparison>
    </div>
    <div class="ui-g-6">
      <app-map></app-map>
    </div>
  </div>
</div>
<p-progressSpinner class="progressSpinner" *ngIf="loading"></p-progressSpinner>
